@import './base/reset';
@import './base/base';

@import './config/config';
@import './../../node_modules/ascendcss/ascendcss.scss';

@import './helpers/mixins';

// general tags / elements
@import './utils/tags';

@import './components/general/badge';
@import './components/general/breadcrumb';
@import './components/general/button';
@import './components/general/collape';
@import './components/general/dropdown';
@import './components/general/form';
@import './components/general/image';
@import './components/general/input';
@import './components/general/select';
@import './components/general/share';
@import './components/general/textarea';
@import './components/general/container';

@import './components/banner';
@import './components/navbar';
// whatsapp button
@import './components/whatsapp';
@import './components/footer';
@import './components/works';
@import './components/services';
@import './components/precios';

@import './utils/utilities';
@import './base/icons';

.contact {
  font-size: 1.1rem;
}

.tippy-box[data-theme~='whatsapp'] {
  background: $secondary-bg;
  padding: 0.5rem .3rem;
}

.tippy-box[data-theme~='whatsapp'] .tippy-arrow::before {
  border-top-color: $secondary-bg;
}

.map-container {
  margin-top: $margin-lg;

  @include from(md) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.map {
  width: 100%;
  height: 400px;

  @include from(md) {
    border-radius: 0.5rem;
  }
}

.my-gallery {
  width: 100%;
  float: left;
}

.my-gallery img {
  width: 100%;
  height: auto;
}

.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}

.my-gallery figcaption {
  display: none;
}

.contact-form {
  border-radius: $margin;
  background-color: transparent;
}
.catalogo {
  width: 100%;
  height: 300px;

  @include from(md) {
    height: 500px;
  }
}

#whatsapp {
  color: #fff !important;
}