.banner {
    background-color: #000;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(/img/banner.jpg);
    background-attachment: fixed;
    padding: 2rem 1rem;
    
    display: grid;
    gap: 1rem;
    
    @include from(sm) {
        @include col(1 1);
        padding: 3rem 2rem;
    }

    &__info {
        @include center-y;
    }

    img {
        border-radius: $radius-sm;
    }
}