.service {
    display: grid;
    grid-template-columns: 1fr 28rem;
    margin: 1rem 0;

    h2 {
        font-size: 2rem;
    }
    
    img {
        border-radius: rpt(2, 1rem 8rem);
        width: 100%;
    }

    &.is-left {
        grid-template-columns: 28rem 1fr;

        img {
            border-radius: rpt(2, 6rem 1rem);
        }
    }

    &__info {
        @include center-y;
    }

    @include to(md) {
        grid-template-columns: 1fr !important;
    }
}