$navbar-bg: $secondary-bg;
$z-index: 99;
$navbar-height: 80px;
$navbar-color: #18904A; 

.navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    // background-color: $navbar-color;
    z-index: $z-index;
    height: 100vh;
    transition: all 0.3s;
    top: 0;

    @include from(lg) {
        height: 80px;
    }

    @include to(lg) {
        background-color: $navbar-color;
        position: fixed;
        transform: translate(-100%, 0px);

        &.is-active {
            transform: translate(0, 0px);
        }
    }
}

.navbar-social {
    position: fixed;
    z-index: $z-index + 10;
    top: 1.4rem;
    right: 1.5rem;
    font-size: 1.4rem;

    a {
        margin-left: 0.8rem;
    }

    @include to(lg) {
        display: none;
    }
}

.navbar-logo {
    position: fixed;
    left: 12px;
    z-index: $z-index + 20;
    height: $navbar-height;

    @include from(lg) {
        @include center;
    }

    img {
        width: 36px;
        display: inline-block;
    }

    @include to(lg) {
        background-color: $navbar-color;
        width: 100%;
        left: 0;
        top: 0;
        padding: 12px;
        height: 60px;
    }
}

.navbar-links {
    height: 100%;
    display: flex;
    font-weight: bolder;

    @include from(lg) {
        margin-right: 26%;
        margin-left: 26%;
    }

    @include to(lg) {
        padding-left: 1rem;
        padding-right: 1rem;
        flex-direction: column;
        margin-top: 80px;
    }
}

.nav-item {
    font-weight: 500;
    // font-size: 0.9rem;
    text-transform: uppercase;
    transition: all 0.3s;
    text-align: center;

    @include from(lg) {
        height: 100%;
        padding: 0 2rem;
        @include center-y;
    }

    &.is-active,
    &:hover {
        @include from(lg) {
            background-color: #13743b;
            color: #fff;
        }
    }
}

@include to(lg) {
    .nav-item {
        display: block;
        margin-bottom: 1rem;
    }
}

.navbar-container {
    padding-top: $navbar-height;

    &.has-margin-top {
        padding-top: $navbar-height + 20px;
    }

    padding-left: 0.8rem;
    padding-right: 0.8rem;

    @include from(lg) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;

    }
}

.navbar-menu {
    display: none;

    @include to(lg) {
        position: fixed;
        top: 12px;
        right: 15px;
        z-index: $z-index + 60;
        font-size: 1.6rem;
        display: block;
    }
}