$navbar-bg: $secondary-bg;
$z-index: 99;
.navbar {
    position: sticky;
    width: 100%;
    background-color: #18904A;
    z-index: $z-index;
    height: 100vh;
    transition: transform 0.3s;
    top: 0;
    
    @include from(md) {
        height: 60px;
    }

    @include to(md) {
        position: fixed;
        transform: translate(-100%, 0px);

        &.is-active {
            transform: translate(0, 0px);
        }
    }
}

.navbar-social {
    position: fixed;
    z-index: $z-index + 10;
    top: 0.9rem;
    right: 1rem;
    font-size: 1.2rem;

    a{
        margin-left: 0.8rem;
    }

    @include to(md) {
        display: none;
    }
}

.navbar-logo {
    position: fixed;
    left: 12px;
    z-index: $z-index + 20;
    height: 60px;

    @include from(md) {
        @include center;
    }

    img {
        width: 36px;
        display: inline-block;
    }

    @include to(md) {
        background-color: #18904A;
        width: 100%;
        left: 0;
        top: 0;
        padding: 12px;
    }
}

.navbar-links {
    height: 100%;
    display: flex;

    @include from(md) {
        margin-right: 30%;
        margin-left: 30%;
    }

    @include to(md) {
        padding-left: 1rem;
        padding-right: 1rem;
        flex-direction: column;
        margin-top: 80px;
    }
}
.nav-item {
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: all 0.3s;

    @include from(md) {
        height: 100%;
        padding: 0 2rem;
        @include center-y;
    }

    &.is-active, &:hover {
        @include from(md) {
            background-color: #13743b;
        }
    }
}
@include to(md) {
    .nav-item {
        display: block;
        margin-bottom: 1rem;
    }
}

.navbar-container {
    padding-top: 60px;

    &.has-margin-top {
        padding-top: 60px + 20px;
    }

    padding-left: 0.8rem;
    padding-right: 0.8rem;

    @include from(md) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;

    }
}

.navbar-theme {
    position: fixed;
    top: 12px;
    right: 15px;
    z-index: $z-index + 15;
    font-size: 1.6rem;
    cursor: pointer;

    @include to(md) {
        right: 60px;
    }
}

.navbar-menu {
    display: none;

    @include to(md) {
        position: fixed;
        top: 12px;
        right: 15px;
        z-index: $z-index + 5;
        font-size: 1.6rem;
        display: block;
    }
}