.precios {
    &__item {
        padding: $padding;
        background-color: $secondary-bg;
        border-radius: $radius-sm;
    }

    h2 {
        text-align: center;
    }
}

.box {
    padding: $padding-lg;
    background-color: $secondary-bg;
    border-radius: $radius-sm;
}

.precios-container {
    @include from(md) {
        padding: 2.2rem;
    }
    
    max-width: 800px;
    margin: auto;
}