.whatsapp {
    font-size: 32px;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 95px;
    right: 25px;
    background-color: #25D366;
    border-radius: 50%;
    @include center;
    color: #000;
    cursor: pointer;
}

.toTop {
    font-size: 35px;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 165px;
    right: 25px;
    background-color: $secondary-color;
    border-radius: 50%;
    @include center;
    color: #fff;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    
    &.is-active {
        opacity: 0.6;
        visibility: visible;
    }
}